
.layout{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.title>h1{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: #666;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
}
ul>li{
  float: left;
  width: 260px;
  box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
  margin-top: 30px;  
}

img{
  width: 100%;
  opacity: 0.75;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.detail{
  padding: 1px 16px;
}